In [16]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [17]:
# Read the csv file into a pandas DataFrame
df = pd.read_csv('Resources/Unemployment_mental_illness_survey.csv')
df.head()

,I am currently employed at least part-time,I identify as having a mental illness,Education,I have my own computer separate from a smart phone,I have been hospitalized before for my mental illness,How many days were you hospitalized for your mental illness,I am legally disabled,I have my regular access to the internet,I live with my parents,I have a gap in my resume,Total length of any gaps in my resume inÂ months.,Annual income (including any social welfare programs) in USD,I am unemployed,I read outside of work and school,Annual income from social welfare programs,I receive food stamps,I am on section 8 housing,How many times were you hospitalized for your mental illness,Lack of concentration,Anxiety,Depression,Obsessive thinking,Mood swings,Panic attacks,Compulsive behavior,Tiredness,Age,Gender,Household Income,Region,Device Type
0,0,0,High School or GED,0,0,0.0,0,1,0,1,24,35,1,1,0,0,0,0,1.0,1,1,1.0,0.0,1.0,0.0,0.0,30-44,Male,"$25,000-$49,999",Mountain,Android Phone / Tablet
1,1,1,Some Phd,1,0,0.0,0,1,0,0,1,22,0,1,0,0,0,0,1.0,1,1,0.0,0.0,1.0,0.0,1.0,18-29,Male,"$50,000-$74,999",East South Central,MacOS Desktop / Laptop
2,1,0,Completed Undergraduate,1,0,0.0,0,1,0,0,0,100,0,1,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$150,000-$174,999",Pacific,MacOS Desktop / Laptop
3,0,0,Some Undergraduate,1,0,NaN,0,1,1,1,11,0,1,1,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$25,000-$49,999",New England,Windows Desktop / Laptop
4,1,1,Completed Undergraduate,1,1,35.0,1,1,0,1,33,32,0,1,30,0,0,4,1.0,1,1,1.0,1.0,1.0,1.0,1.0,30-44,Male,"$25,000-$49,999",East North Central,iOS Phone / Tablet

In [18]:
clean_df=df.rename(columns={"I am currently employed at least part-time":"employed",
                   "I identify as having a mental illness":"mental_illness", 
                   "I have my own computer separate from a smart phone":"own_computer",
                   "I have been hospitalized before for my mental illness":"hospitalized",
                   "How many days were you hospitalized for your mental illness":"hospitalized_days",
                   "I am legally disabled":"disabled",
                "I have my regular access to the internet":"internet",
                   "I live with my parents":"with_parents","I have a gap in my resume":"gap",
                   "Total length of any gaps in my resume inÂ months.":"months_gap",
                   "Annual income (including any social welfare programs) in USD":"income_with_social",
                   "I am unemployed":"unemployed",
                   "I read outside of work and school":"read",
                   "Annual income from social welfare programs":"welfare_income",
                   "I receive food stamps":"food_stamp",
                   "I am on section 8 housing":"section_8",
                   "How many times were you hospitalized for your mental illness":"times_hospitalized",
                   "Lack of concentration":"Lack_concentration",
                   "Obsessive thinking":"Obsessive_thinking",
                   "Mood swings":"Mood_swings",
                   "Panic attacks":"Panic_attacks",
                   "Compulsive behavior":"Compulsive_behavior",
                   "Household Income":"Household_Income",
                   "Device Type":"Device"
                  })
clean_df

,employed,mental_illness,Education,own_computer,hospitalized,hospitalized_days,disabled,internet,with_parents,gap,months_gap,income_with_social,unemployed,read,welfare_income,food_stamp,section_8,times_hospitalized,Lack_concentration,Anxiety,Depression,Obsessive_thinking,Mood_swings,Panic_attacks,Compulsive_behavior,Tiredness,Age,Gender,Household_Income,Region,Device
0,0,0,High School or GED,0,0,0.0,0,1,0,1,24,35,1,1,0,0,0,0,1.0,1,1,1.0,0.0,1.0,0.0,0.0,30-44,Male,"$25,000-$49,999",Mountain,Android Phone / Tablet
1,1,1,Some Phd,1,0,0.0,0,1,0,0,1,22,0,1,0,0,0,0,1.0,1,1,0.0,0.0,1.0,0.0,1.0,18-29,Male,"$50,000-$74,999",East South Central,MacOS Desktop / Laptop
2,1,0,Completed Undergraduate,1,0,0.0,0,1,0,0,0,100,0,1,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$150,000-$174,999",Pacific,MacOS Desktop / Laptop
3,0,0,Some Undergraduate,1,0,NaN,0,1,1,1,11,0,1,1,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$25,000-$49,999",New England,Windows Desktop / Laptop
4,1,1,Completed Undergraduate,1,1,35.0,1,1,0,1,33,32,0,1,30,0,0,4,1.0,1,1,1.0,1.0,1.0,1.0,1.0,30-44,Male,"$25,000-$49,999",East North Central,iOS Phone / Tablet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,0,0,High School or GED,1,0,NaN,1,1,0,0,0,0,1,1,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,1.0,45-60,Female,Prefer not to answer,Mountain,Android Phone / Tablet
330,1,0,Some Undergraduate,1,0,0.0,0,1,1,0,0,62,0,1,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,18-29,Male,"$50,000-$74,999",Pacific,Windows Desktop / Laptop
331,1,0,Some Undergraduate,1,0,0.0,0,1,0,0,0,0,0,1,1,1,0,1,0.0,0,0,0.0,0.0,0.0,0.0,0.0,> 60,Female,"$10,000-$24,999",West North Central,Windows Desktop / Laptop
332,0,1,Some Undergraduate,0,1,1.0,1,1,1,1,30,12,1,1,12,1,0,3,1.0,1,1,1.0,1.0,1.0,1.0,1.0,18-29,Female,"$0-$9,999",West South Central,Android Phone / Tablet
333,1,1,Some Undergraduate,1,0,0.0,1,1,0,0,0,25,0,1,0,0,0,0,NaN,1,1,NaN,NaN,NaN,NaN,NaN,18-29,Female,"$10,000-$24,999",Pacific,Android Phone / Tablet

In [20]:
#predict=mental_illness
#we try to the outstanding variable that has the highest correlation to our prediction 
selected_df=clean_df[["employed","mental_illness","Education","hospitalized","hospitalized_days","disabled","with_parents","gap","months_gap","income_with_social","read","welfare_income","food_stamp","section_8","times_hospitalized","Lack_concentration","Anxiety","Depression","Obsessive_thinking","Mood_swings","Panic_attacks","Compulsive_behavior","Tiredness","Age","Gender","Household_Income","Region"]]
selected_df

,employed,mental_illness,Education,hospitalized,hospitalized_days,disabled,with_parents,gap,months_gap,income_with_social,read,welfare_income,food_stamp,section_8,times_hospitalized,Lack_concentration,Anxiety,Depression,Obsessive_thinking,Mood_swings,Panic_attacks,Compulsive_behavior,Tiredness,Age,Gender,Household_Income,Region
0,0,0,High School or GED,0,0.0,0,0,1,24,35,1,0,0,0,0,1.0,1,1,1.0,0.0,1.0,0.0,0.0,30-44,Male,"$25,000-$49,999",Mountain
1,1,1,Some Phd,0,0.0,0,0,0,1,22,1,0,0,0,0,1.0,1,1,0.0,0.0,1.0,0.0,1.0,18-29,Male,"$50,000-$74,999",East South Central
2,1,0,Completed Undergraduate,0,0.0,0,0,0,0,100,1,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$150,000-$174,999",Pacific
3,0,0,Some Undergraduate,0,NaN,0,1,1,11,0,1,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$25,000-$49,999",New England
4,1,1,Completed Undergraduate,1,35.0,1,0,1,33,32,1,30,0,0,4,1.0,1,1,1.0,1.0,1.0,1.0,1.0,30-44,Male,"$25,000-$49,999",East North Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,0,0,High School or GED,0,NaN,1,0,0,0,0,1,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,1.0,45-60,Female,Prefer not to answer,Mountain
330,1,0,Some Undergraduate,0,0.0,0,1,0,0,62,1,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,18-29,Male,"$50,000-$74,999",Pacific
331,1,0,Some Undergraduate,0,0.0,0,0,0,0,0,1,1,1,0,1,0.0,0,0,0.0,0.0,0.0,0.0,0.0,> 60,Female,"$10,000-$24,999",West North Central
332,0,1,Some Undergraduate,1,1.0,1,1,1,30,12,1,12,1,0,3,1.0,1,1,1.0,1.0,1.0,1.0,1.0,18-29,Female,"$0-$9,999",West South Central
333,1,1,Some Undergraduate,0,0.0,1,0,0,0,25,1,0,0,0,0,NaN,1,1,NaN,NaN,NaN,NaN,NaN,18-29,Female,"$10,000-$24,999",Pacific

In [30]:

s1_df=pd.get_dummies(selected_df)
s1_df

,employed,mental_illness,hospitalized,hospitalized_days,disabled,with_parents,gap,months_gap,income_with_social,read,welfare_income,food_stamp,section_8,times_hospitalized,Lack_concentration,Anxiety,Depression,Obsessive_thinking,Mood_swings,Panic_attacks,Compulsive_behavior,Tiredness,Education_Completed Masters,Education_Completed Phd,Education_Completed Undergraduate,Education_High School or GED,Education_Some Phd,Education_Some Undergraduate,Education_Some highschool,Education_SomeÂ Masters,Age_18-29,Age_30-44,Age_45-60,Age_> 60,Gender_Female,Gender_Male,"Household_Income_$0-$9,999","Household_Income_$10,000-$24,999","Household_Income_$100,000-$124,999","Household_Income_$125,000-$149,999","Household_Income_$150,000-$174,999","Household_Income_$175,000-$199,999","Household_Income_$200,000+","Household_Income_$25,000-$49,999","Household_Income_$50,000-$74,999","Household_Income_$75,000-$99,999",Household_Income_Prefer not to answer,Region_East North Central,Region_East South Central,Region_Middle Atlantic,Region_Mountain,Region_New England,Region_Pacific,Region_South Atlantic,Region_West North Central,Region_West South Central
0,0,0,0,0.0,0,0,1,24,35,1,0,0,0,0,1.0,1,1,1.0,0.0,1.0,0.0,0.0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
1,1,1,0,0.0,0,0,0,1,22,1,0,0,0,0,1.0,1,1,0.0,0.0,1.0,0.0,1.0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
2,1,0,0,0.0,0,0,0,0,100,1,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
3,0,0,0,NaN,0,1,1,11,0,1,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0
4,1,1,1,35.0,1,0,1,33,32,1,30,0,0,4,1.0,1,1,1.0,1.0,1.0,1.0,1.0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,0,0,0,NaN,1,0,0,0,0,1,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,1.0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
330,1,0,0,0.0,0,1,0,0,62,1,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0
331,1,0,0,0.0,0,0,0,0,0,1,1,1,0,1,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
332,0,1,1,1.0,1,1,1,30,12,1,12,1,0,3,1.0,1,1,1.0,1.0,1.0,1.0,1.0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
333,1,1,0,0.0,1,0,0,0,25,1,0,0,0,0,NaN,1,1,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0

In [26]:
X = selected_df[["employed","Education","hospitalized","hospitalized_days","disabled","with_parents","gap","months_gap","income_with_social","read","welfare_income","food_stamp","section_8","times_hospitalized","Lack_concentration","Anxiety","Depression","Obsessive_thinking","Mood_swings","Panic_attacks","Compulsive_behavior","Tiredness","Age","Gender","Household_Income","Region"]]
y = selected_df.mental_illness.values.reshape(-1, 1)

print("Shape: ", X.shape, y.shape)

Shape:  (334, 26) (334, 1)

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [28]:
model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)
print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

ValueError: could not convert string to float: 'Completed Undergraduate'

In [ ]:
model.fit(X, y)
print(model)
predictions = model.predict(X)
pd.DataFrame({"Predicted": predictions, "Actual": y, "Error": predictions - y})[["Predicted", "Actual", "Error"]]

In [21]:
from keras.utils import np_utils
np_utils.to_categorical

Using TensorFlow backend.

In [13]:
pd.set_option('max_columns', None)
clean_df

,employed,mental_illness,Education,own_computer,hospitalized,hospitalized_days,disabled,internet,with_parents,gap,months_gap,income_with_social,unemployed,read,welfare_income,food_stamp,section_8,times_hospitalized,Lack_concentration,Anxiety,Depression,Obsessive_thinking,Mood_swings,Panic_attacks,Compulsive_behavior,Tiredness,Age,Gender,Household_Income,Region,Device
0,0,0,High School or GED,0,0,0.0,0,1,0,1,24,35,1,1,0,0,0,0,1.0,1,1,1.0,0.0,1.0,0.0,0.0,30-44,Male,"$25,000-$49,999",Mountain,Android Phone / Tablet
1,1,1,Some Phd,1,0,0.0,0,1,0,0,1,22,0,1,0,0,0,0,1.0,1,1,0.0,0.0,1.0,0.0,1.0,18-29,Male,"$50,000-$74,999",East South Central,MacOS Desktop / Laptop
2,1,0,Completed Undergraduate,1,0,0.0,0,1,0,0,0,100,0,1,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$150,000-$174,999",Pacific,MacOS Desktop / Laptop
3,0,0,Some Undergraduate,1,0,NaN,0,1,1,1,11,0,1,1,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$25,000-$49,999",New England,Windows Desktop / Laptop
4,1,1,Completed Undergraduate,1,1,35.0,1,1,0,1,33,32,0,1,30,0,0,4,1.0,1,1,1.0,1.0,1.0,1.0,1.0,30-44,Male,"$25,000-$49,999",East North Central,iOS Phone / Tablet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,0,0,High School or GED,1,0,NaN,1,1,0,0,0,0,1,1,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,1.0,45-60,Female,Prefer not to answer,Mountain,Android Phone / Tablet
330,1,0,Some Undergraduate,1,0,0.0,0,1,1,0,0,62,0,1,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,18-29,Male,"$50,000-$74,999",Pacific,Windows Desktop / Laptop
331,1,0,Some Undergraduate,1,0,0.0,0,1,0,0,0,0,0,1,1,1,0,1,0.0,0,0,0.0,0.0,0.0,0.0,0.0,> 60,Female,"$10,000-$24,999",West North Central,Windows Desktop / Laptop
332,0,1,Some Undergraduate,0,1,1.0,1,1,1,1,30,12,1,1,12,1,0,3,1.0,1,1,1.0,1.0,1.0,1.0,1.0,18-29,Female,"$0-$9,999",West South Central,Android Phone / Tablet
333,1,1,Some Undergraduate,1,0,0.0,1,1,0,0,0,25,0,1,0,0,0,0,NaN,1,1,NaN,NaN,NaN,NaN,NaN,18-29,Female,"$10,000-$24,999",Pacific,Android Phone / Tablet

0      0
1      1
2      1
3      0
4      1
      ..
329    0
330    1
331    1
332    0
333    1
Name: employed, Length: 334, dtype: int64